<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
    <meta charset="UTF-8">
    <title>Tasks Index</title>
        <th:block th:insert="~{partials/nav.html :: bootstrap-cdn-link}"></th:block>

</head>
    <body>
    <th:block th:replace="~{partials/nav.html :: bs-navbar}"></th:block>

    <h1> These are all the tasks</h1>
    <!--Syntax to set the ID Path Variable in the action-->
<!--    <form th:action="@{/posts/{id}/edit (id = ${post.id})}"></form>-->

    <th:block>
        <ul th:each="task : ${taskList}">
            <a th:text="'Title: ' + ${task.taskTitle}" th:href="@{/tasks/{id} (id = ${task.id})}"/>
            <li th:text="'Description: ' + ${task.taskDescription}" />
        </ul>

    </th:block>


<th:block th:insert="~{partials/nav.html :: bootstrap-script}"></th:block>
</body>
</html>