<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
    <meta charset="UTF-8">
    <title>View a Task</title>
        <th:block th:insert="~{partials/nav.html :: bootstrap-cdn-link}"></th:block>


    </head>
    <body>
    <th:block th:replace="~{partials/nav.html :: bs-navbar}"></th:block>

    <th:block>
        <ul th:object="${individualTask} ">
            <li th:text="'Title: ' + ${individualTask.taskTitle}"/>
            <li th:text="'Description: ' + ${individualTask.taskDescription}" />
            <form th:action="@{/tasks/{id}/edit (id = ${individualTask.id})}">
            <button th:type="submit">Edit</button>
            </form>
        </ul>
    </th:block>

        <th:block th:insert="~{partials/nav.html :: bootstrap-script}"></th:block>
</body>
</html>