<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
    <meta charset="UTF-8">
    <title>Tasks Index</title>
    <th:block th:insert="~{partials/nav.html :: bootstrap-cdn-link}"></th:block>

</head>
    <body>
<th:block th:replace="~{partials/nav.html :: bs-navbar}"></th:block>

<div th:if="${session.message}" class="container">
    <div th:classappend="${'alert-' + session.message.type}" class="alert text-center" role="alert">
        <span th:text="${session.message.content}"></span>
    </div>
</div>


<form th:action="@{'/profile/' + ${userIdForPw} + '/pwEdit'}" th:method="POST">



    <label for="currentPw">Enter your Current Password</label>
        <input id="currentPw" type="text" name="currentPw">

    <br/>
    <label for="password">New Password</label>
    <input id="password" type="text" name="newPassword">

    <br/>
    <button type="submit">Submit Edits</button>
    <!--        <a th:href="@{posts/show.html}">-->
    <button>Cancel</button>
    <!--        </a>-->
</form>


<th:block th:insert="~{partials/nav.html :: bootstrap-script}"></th:block>
</body>
</html>