<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Tasks Index</title>
    <th:block th:insert="~{partials/nav.html :: bootstrap-cdn-link}"></th:block>

</head>
<body>
<th:block th:replace="~{partials/nav.html :: bs-navbar}"></th:block>

<div th:if="${session.pWEditMessage}" class="container">
    <div th:classappend="${'alert-' + session.pWEditMessage.type}" class="alert text-center" role="alert">
        <span th:text="${session.pWEditMessage.content}"></span>
    </div>
</div>


<!--<form name="password-edit-form" onsubmit="return validateForm()" th:action="@{'/profile/' + ${userIdForPw} + '/pwEdit'}" th:method="POST">-->

<!--    <label for="currentPw">Enter your Current Password</label>-->
<!--    <input id="currentPw" type="text" name="currentPw">-->
<!--    <br/>-->
<!--    <label for="password">New Password</label>-->
<!--    <input id="password" type="text" name="newPassword">-->
<!--    <br/>-->
<!--    <label for="ConfirmPassword">New Password</label>-->
<!--    <input id="ConfirmPassword" type="text" name="ConfirmPassword">-->

<!--    <br/>-->
<!--    <button type="submit">Submit Edits</button>-->
<!--    <br/>-->

<!--</form>-->

<!--<a th:href="@{'/profile/' + ${userIdForPw}}" th:object="${userIdForPw}">-->
<!--    <button>Cancel</button>-->
<!--</a>-->

<div class="container-fluid">
    <form th:action="@{'/profile/' + ${userIdForPw} + '/pwEdit'}" th:method="POST" class="g-3 needs-validation" novalidate>
        <div class="col-md-4">
            <label for="validationCustom01" class="form-label">Current Password</label>
            <input type="text" class="form-control" id="validationCustom01" name="currentPw" required>
            <div class="invalid-feedback">
                Please enter your current password.
            </div>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <br/>
        <div class="col-md-4">
            <label for="newPw" class="form-label">New Password</label>
            <input type="text" class="form-control" id="newPw" name="newPassword" required>
            <div class="invalid-feedback">
                Please enter a new password.
            </div>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <br/>
        <div class="col-md-4">
            <label for="confirmNewPw" class="form-label">Confirm New Password</label>
            <div class="input-group has-validation">
                <input type="text" class="form-control" id="confirmNewPw" aria-describedby="inputGroupPrepend" name="ConfirmPassword" required>
                <div class="invalid-feedback">
                    Please confirm your new password.
                </div>
                <div class="valid-feedback">
                    Passwords Match!
                </div>
            </div>
        </div>
        <br/>
        <div class="col-12">
            <button class="btn btn-primary new-pw-btn" type="submit" id="pwSubBtn" disabled>Save New Password</button>
        </div>
    </form>

    <a th:href="@{'/profile/' + ${userIdForPw}}" th:object="${userIdForPw}">
        <button class="btn btn-danger">Cancel</button>
    </a>
</div>


<script>
    <!--    JS FORM VALIDATION (BEFORE POST REQ SUBMIT)-->
    // function validateForm() {
    //     let newPw = document.forms["password-edit-form"]["newPassword"].value;
    //     let newPwConfirm = document.forms["password-edit-form"]["ConfirmPassword"].value;
    //     if (newPw === "" || newPwConfirm === "") {
    //         alert("Error! One or more fields are empty!");
    //         return false;
    //     } else if (newPw !== newPwConfirm){
    //         alert("Error! New passwords do not match!");
    //         return false;
    //     }
    // }


    (() => {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        const forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.from(forms).forEach(form => {
            form.addEventListener('submit', event => {
                if (!form.checkValidity()) {
                    event.preventDefault()
                    event.stopPropagation()
                }

                form.classList.add('was-validated')
            }, false)
        })
    })()

    let newPw = document.getElementById('newPw');
    let confirmNewPw = document.getElementById('confirmNewPw');
    let pwSubBtn = document.getElementById('pwSubBtn');
    confirmNewPw.oninput = () => {
        if(confirmNewPw.value !== newPw.value || confirmNewPw.value === ""){
            confirmNewPw.classList.add('is-invalid');
            confirmNewPw.classList.remove('is-valid');
        } else {
            confirmNewPw.classList.remove('is-invalid');
            confirmNewPw.classList.add("is-valid");
            pwSubBtn.disabled = false;
        }
    }

</script>

<th:block th:insert="~{partials/nav.html :: bootstrap-script}"></th:block>
</body>
</html>