<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
    <meta charset="UTF-8">
    <title>Tasks Index</title>
    <th:block th:insert="~{partials/nav.html :: bootstrap-cdn-link}"></th:block>

</head>
    <body>
<th:block th:replace="~{partials/nav.html :: bs-navbar}"></th:block>

<form name="profile-edit-form" onsubmit="return validateForm()" th:action="@{'/profile/' + ${userId} + '/edit'}" th:method="POST">


    <label for="fullName">Full Name</label>
    <input id="fullName" type="text" name="fullName" th:value="${fullName}">
    <br/>
    <label for="username">Username</label>
    <input id="username" type="text" name="username" th:value="${username}">
        </input>
    <label for="email">email</label>
    <input id="email" type="text" name="email" th:value="${email}">
    <button type="submit">Submit Edits</button>

</form>

<a th:href="@{'/profile/' + ${userId} + '/pwEdit'}" th:object="${userId}" th:method="GET">
    <button>Edit My Password</button>
</a>

<form th:action="@{'/profile/' + ${userId}}" th:method="get">
<button>Cancel</button>
</form>




<script>
<!--    JS FORM VALIDATION (BEFORE POST REQ SUBMIT)-->
function validateForm() {
    let x = document.forms["profile-edit-form"]["fullName"].value;
    let y = document.forms["profile-edit-form"]["username"].value;
    let z = document.forms["profile-edit-form"]["email"].value;
    if (x === "" || y === "" || z === "") {
        alert("Error! One or more fields are empty!");
        return false;
    }
}
</script>
<th:block th:insert="~{partials/nav.html :: bootstrap-script}"></th:block>
</body>
</html>