<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
    <meta charset="UTF-8">
    <title>Profile Page</title>
        <th:block th:insert="~{partials/nav.html :: bootstrap-cdn-link}"></th:block>


    </head>
    <body>
    <th:block th:replace="~{partials/nav.html :: bs-navbar}"></th:block>

    <h1>This is the profile page</h1>

<!--    <th:block th:action="@{'/profile/' + ${viewProfile.getId()}}" th:method="get" th:object="${viewProfile}">-->

    <h3 th:text="${viewProfile.fullName}"></h3>
        <h3 th:text="${viewProfile.username}"></h3>
        <h3 th:text="${viewProfile.email}"></h3>

<!--    </th:block>-->

<!--    <div sec:authorize="isAuthenticated()">-->
<!--        <div th:text="${#authentication.principal.id==viewProfile.id}">-->

<!--        <h3 th:text="${viewProfile.fullName}"></h3>-->
<!--        Username: <span th:text="${viewProfile.username}"/>-->
<!--        Email: <span th:text="${viewProfile.email}"/>-->
<!--        </div>-->
<!--    </div>-->

    <th:block th:insert="~{partials/nav.html :: bootstrap-script}"></th:block>
    </body>
</html>