<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
        <head>
        <meta charset="UTF-8">
        <title>Tasks Index</title>
        <th:block th:insert="~{partials/nav.html :: bootstrap-cdn-link}"></th:block>

    </head>
        <body>
    <th:block th:replace="~{partials/nav.html :: bs-navbar}"></th:block>

<div class="container-fluid">
    <form th:action="@{'/profile/' + ${userId} + '/edit'}" th:method="POST" class="g-3 needs-validation" novalidate>
        <div class="col-md-4">
            <label for="validationCustom01" class="form-label">Full Name</label>
            <input type="text" class="form-control" id="validationCustom01" name="fullName" th:value="${fullName}" required>
            <div class="invalid-feedback">
                Please enter a name.
            </div>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <br/>
        <div class="col-md-4">
            <label for="validationCustom02" class="form-label">Username</label>
            <input type="text" class="form-control" id="validationCustom02" name="username" th:value="${username}" required>
            <div class="invalid-feedback">
                Please a valid username.
            </div>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <br/>
        <div class="col-md-4">
            <label for="validationCustomEmail" class="form-label">Email</label>
            <div class="input-group has-validation">
                <span class="input-group-text" id="inputGroupPrepend">@</span>
                <input type="email" class="form-control" id="validationCustomEmail" aria-describedby="inputGroupPrepend" name="email" th:value="${email}" required>
                <div class="invalid-feedback">
                    Please a valid email address.
                </div>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
        </div>
        <br/>
        <div class="col-12">
            <button class="btn btn-primary" type="submit">Submit Edits</button>
        </div>
    </form>

    <a th:href="@{'/profile/' + ${userId} + '/pwEdit'}" th:object="${userId}" th:method="GET">
        <button class="btn btn-warning">Edit My Password</button>
    </a>

    <form th:action="@{'/profile/' + ${userId}}" th:method="get">
        <button class="btn btn-danger">Cancel</button>
    </form>
</div>


    <script>
    (() => {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        const forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.from(forms).forEach(form => {
            form.addEventListener('submit', event => {
                if (!form.checkValidity()) {
                    event.preventDefault()
                    event.stopPropagation()
                }
                form.classList.add('was-validated')
            }, false)
        })
    })()

    let email = document.getElementById('validationCustomEmail');
    email.oninput = () => {
        const re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        if(!re.test(email.value)){
            email.setCustomValidity("Invalid field.");
            email.classList.add('is-invalid');
        } else {
            email.classList.remove('is-invalid');
            email.setCustomValidity("")
        }
    }
    </script>
    <th:block th:insert="~{partials/nav.html :: bootstrap-script}"></th:block>
    </body>
</html>