<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="UTF-8">
        <title>Tasks Index</title>
        <th:block th:insert="~{partials/nav.html :: bootstrap-cdn-link}"></th:block>

    </head>
    <body>
        <th:block th:replace="~{partials/nav.html :: bs-navbar}"></th:block>

<!--        IF PASSWORD HAS BEEN EDITED CUSTOM MESSAGE WILL BE DISPLAYED-->
        <div th:if="${session.pWEditMessage}" class="container">
            <div th:classappend="${'alert-' + session.pWEditMessage.type}" class="alert text-center" role="alert">
                <span th:text="${session.pWEditMessage.content}"></span>
            </div>
        </div>

<!--        IF USER PROFILE HAS BEEN EDITED CUSTOM MESSAGE WILL BE DISPLAYED-->
        <div th:if="${session.UserEditMessage}" class="container">
            <div th:classappend="${'alert-' + session.UserEditMessage.type}" class="alert text-center" role="alert">
                <span th:text="${session.UserEditMessage.content}"></span>
            </div>
        </div>


        <h5>Click Ok to Continue.</h5>

        <br/>
        <a th:href="@{'/profile/' + ${userId}}" th:object="${userId}">
            <button>OK</button>
        </a>


        <th:block th:insert="~{partials/nav.html :: bootstrap-script}"></th:block>
    </body>
</html>